.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./images/background.jpeg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: myFirstFont;
  src: url("./fonts/ChellaType-Regular.ttf");
}
@font-face {
  font-family: coachella;
  src: url("./fonts/Eurostile-Condensed-Bold.otf");
}

h1{
  font-family: myFirstFont;
  color: black;
}
p.first-one{
  font-size:36px;
  line-height: 0px;  
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
  font-family: coachella;
  color: black;
}
p.first-five{
  font-size:15px;
  color: white;
  text-align: left;
  margin-left: 30px;
  font-family: coachella;
  color: black;
}
p.second-one{
  margin-top: 10px;
  font-size:36px;
  line-height: 0px;  
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
  font-family: coachella;
  color: black;
}
p.last-few{
  font-size:15px;
  color: black;
  text-align: left;
  margin-left: 30px;
  font-family: coachella;
}

 p.top-genres{ 
  margin-top: 10px;
  font-size:36px;
  line-height: 0px;  
  margin-bottom: 20px;
  text-align: left;
  margin-left: 30px;
  font-family: coachella; 
  color: black;
 }
 p.genres{
  font-size: 11px;
  font-family: coachella;
  text-align: left;
  margin-left: 30px;
  color: black;

 }
 

/* 
 .items:nth-child(1){ color:black; } */